<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="connection.url">jdbc:sqlserver://172.17.48.42; databaseName=flow3</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>


        <property name="connection.username">ascue</property>
        <property name="connection.password">mygd123</property>
<!--        <property name="hbm2ddl.auto">update</property>-->

        <mapping class="W_dao"/>

        <!--            <property name="javax.persistence.schema-generation.database.action" value="update"/>-->
        <!--            <property name="hibernate.flushMode" value="FLUSH_AUTO"/>-->
        <!--            <property name="hibernate.show_sql" value="true"/>-->
        <!--            <property name="hibernate.format_sql" value="true"/>-->
        <!--            <property name="hibernate.temp.use_jdbc_metadata_defaults" value="false"/>-->
        <!--            <property name="current_session_context_class" value = "thread"/>-->

    </session-factory>
</hibernate-configuration>